*::-webkit-scrollbar{
    width: 12px;
}

*::-webkit-scrollbar-track{
    background: rgba(255, 255, 255, 0.400);
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb{
    background-color: #a9a9a9;
    border-radius: 10px;
    border: 3px solid rgba(255, 255, 255, 0.400);
}